/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
	margin-bottom: -6%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


#modal-body img{
	margin-bottom: 5%;
	margin-top: 5%;
	   margin-left: 6%;
/*    margin-right: auto;*/
	
	  border-radius: 8px;
	 width: 440px;
	height: 480px;
}


#books{
	margin-left: 7%;

	
}

.navbar{
	margin-left:7.5%;
	margin-top:3%;
}

.line{
	margin-top: 0%;
}

input{
	margin-left:-3%; 
}